* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: white;
    font-family: sans-serif;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.main {
    position: relative;
    min-height: 100vh;    
}

.nav {
    z-index: 5;
    background-color: white;
    position: fixed;
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 0 20px;
    height: 12vh;
    width: 99.4vw;
}

.nav img {
    height: 30px;
}

.home ul {
    cursor: pointer;
    display: flex;
    list-style-type: none;
    gap: 20px;
    align-items: center;
}

.bgBlack {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
}

.search {
    display: flex;
    align-items: center;
    padding: 0 20px;
    height: 50%;
    width: 65vw;
    background-color: #E1E1E1;
    border-radius: 20px;
}

.searchLeft {
    display: flex;
    gap: 10px;
}

.search input {
    width: 55vw;
    border: none;
    background-color: #E1E1E1;
}

.search input:focus {
    border: none;
    outline: none;
}

.nav > img {
    height: 45px;
}

.riTwo {
    margin-left: -20px;
}

img:nth-child(6){
    height: 30px;
}

.ri-arrow-down-s-line {
    font-size: 20px;
    color: #767676;
    margin-left: -10px;
}

.overlay {
    display: none;
    height: 100%;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.726);
    z-index: 2;
    position: absolute;
    top: 90px;
    left: 0;
}

.hero {
    z-index: 1;
    position: relative;
    top: 90px;
    left: 0;
    min-height: 100vh;
    width: 100vw;
    column-count: 6;
    padding: 0 10px;
}

.hero img {
    max-width: 15.5vw;
    margin-bottom: 11px;
    border-radius: 20px;
    cursor: pointer
}

.find {
    display: none;
    z-index: 4;
    position: fixed;
    top: 87px;
    left: 21%;
    min-height: 5vh;
    width: 65vw;
    background-color: white;
    border-radius: 0 0 20px 20px;
    padding: 0 20px;
    overflow: hidden;
}

.findInput {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 16px;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
}

i {
    cursor: pointer;
}

img {
    cursor: pointer;
}

::-webkit-scrollbar{
    /* background-color: black; */
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: rgba(110, 106, 106, 0.384);
    height: 100px;
    border-radius: 20px;
}
